.container{
  height: 100%;
  width: 100%;
  margin-top: 30px;
  &_card{
    margin: 0 auto;
    width: 700px;
    height: 600px;
    &_header{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      .title{
        width: 300px;
        line-height: 36px;
        font-size: 20px;
      }
    }
    &_content{
      display: flex;
      flex-direction: column;
      justify-content: center;
      &_row{
        height: 80px;
        display: flex;
        flex-direction: row;
        .item{
          height: 80px;
        }
        &_email{
          width: 500px;
        }
        &_button{
          width: 200px;
          button{
            margin-right: 20px;
          }
        }
        &_icon{
          color: rgb(214, 101, 101);
        }
        &_icon:hover{
          cursor: pointer;
        }
      }
    }
  }
}
